.slider-container {
  // margin-top: 80px;
  //   margin-left: 0px;
  //   max-width: 1200px;
  //   min-width: 1200px;
  //   position: relative;
  //   margin: 0 auto;
  height: 340px;
  //   width: 500px;
  //   display: -ms-flexbox;
  //   position: relative;
  // display: flex;
  //   -ms-flex-align: center;
  align-items: center;
  padding: 32px 80px !important;
  //   contain: layout;
  background-color: #171a29;
  img {
    height: 40px;
    width: 40px;
  }
}
.slick-list {
  width: 956px;
}

.slick-initialized {
  margin-top: 80px;
  /* height: 417px; */
  display: flex !important;
  justify-content: center;
  padding: 50px 235px;
  background: black;
}
.img {
  height: inherit;
}
.slick-next {
  //   top: 32%;
  right: 0% !important;
  height: 20px !important;
}
.slick-prev {
  left: 0 !important;
  height: 20px !important;
}
.my-slider:hover .slick-slide {
  transform: scale(1.1);
  opacity: 0.8;
}
.slick-slide img {
  height: 260px;
  max-width: 260px !important;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-out;
  //   width: 300px;
}
.slick-slide img:hover {
  transform: scale(1.07);
}
.slick-slide {
  width: 260px !important;
  margin-right: 16px;
}
.slick-prev:before,
.slick-next:before {
  font-family: inherit !important;
  font-size: 31px !important;
  /* increase the font size to 24px */
}
.slick-prev {
  margin-left: 24rem !important;
}
.slick-next {
  margin-right: 24.5rem !important;
}
