.card {
  //   height: 100px;
  width: 287px;
  //   background-color: burlywood;
  margin: 8px;
  padding: 16px;
  border: 1px solid #fff;
  height: fit-content;
  position: relative;
  //   margin-bottom: 85px;
  img {
    object-fit: fill;
    max-width: 254px;
    max-height: 160px;
  }
  &__ribbon {
    position: absolute;
    left: 8px;
    top: 16px;
    background-color: #8a584b;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 9px 4px;
    max-width: 50%;
    text-transform: uppercase;
    border-color: #8a584b;
    background: rgb(58, 60, 65);
    color: rgb(255, 255, 255);
    border-color: rgb(30, 32, 35) transparent;
    &--icon {
      position: absolute;
      font-size: 21px;
      top: 18px;
      left: -6px;
      color: rgb(58, 60, 65);
    }
  }
  &__desc {
    margin-top: 14px;
    &--name {
      font-size: 17px;
      font-weight: 500;
      word-break: break-word;
      font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    }
    &--type {
      color: #686b78;
      font-size: 13px;
      margin-top: 4px;
    }
  }
  &__details {
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-size: 12px;
    justify-content: space-between;
    color: #535665;
    &--rating {
      //   background-color: #db7c38;
      color: #fff;
      height: 20px;
      width: 43px;
      padding: 0 5px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__offer {
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    color: #8a584b;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    &--icon {
      margin-right: 4px;
      font-size: 18px;
    }
    span {
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__quick-view {
    // color: #686b78;
    font-size: 13px;
    visibility: hidden;
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: #5d8ed5;
      //   float: right;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      //   float: none;
      //   display: block;
      //   margin: 0 auto;
      width: 100px;
      &:hover {
        color: #686b78;
      }
    }
  }
}

.card:hover {
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  .card__quick-view {
    visibility: visible;
    cursor: pointer;
  }
}
